@model HelpDeskTicketing.Models.Tickets

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tickets</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpoloyeeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpoloyeeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResponseTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResponseTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.technicians)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.technicians.TechnicianName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.services)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.services.ServiceName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TicketId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
